<div class="page-right-sidebar" id="main-right-sidebar">
  <div class="page-right-sidebar-inner">
    <div class="right-sidebar-top">
      <span class="chat-header">Chat</span>
      <a href="javascript:void(0)" class="right-sidebar-toggle right-sidebar-close" data-sidebar-id="main-right-sidebar"><i class="icon-close"></i></a>
    </div>
    <div class="right-sidebar-content">
      <!-- Tab panes -->
      <div class="chat-list">
        <span class="chat-title">Recent</span>
        <a href="javascript:void(0);" class="right-sidebar-toggle chat-item unread" data-sidebar-id="chat-right-sidebar">
          <div class="user-avatar">
            <%= image_tag 'avatars/avatar1.png', alt: "" %>
          </div>
          <div class="chat-info">
            <span class="chat-author">David</span>
            <span class="chat-text">Hello there!</span>
            <span class="chat-time">16:20</span>
          </div>
        </a>
        <a href="javascript:void(0);" class="right-sidebar-toggle chat-item unread active-user" data-sidebar-id="chat-right-sidebar">
          <div class="user-avatar">
            <%= image_tag 'avatars/avatar2.png', alt: "" %>
          </div>
          <div class="chat-info">
            <span class="chat-author">Bob</span>
            <span class="chat-text">Hello there!</span>
            <span class="chat-time">11:34</span>
          </div>
        </a>
      </div>
      <div class="chat-list">
        <span class="chat-title">Older</span>
        <a href="javascript:void(0);" class="right-sidebar-toggle chat-item" data-sidebar-id="chat-right-sidebar">
          <div class="user-avatar">
            <%= image_tag 'avatars/avatar3.png', alt: "" %>
          </div>
          <div class="chat-info">
            <span class="chat-author">Tom</span>
            <span class="chat-text">Hello there!</span>
            <span class="chat-time">2d</span>
          </div>
        </a>
        <a href="javascript:void(0);" class="right-sidebar-toggle chat-item active-user" data-sidebar-id="chat-right-sidebar">
          <div class="user-avatar">
            <%= image_tag 'avatars/avatar4.png', alt: "" %>
          </div>
          <div class="chat-info">
            <span class="chat-author">Anna</span>
            <span class="chat-text">Hello there!</span>
            <span class="chat-time">4d</span>
          </div>
        </a>
        <a href="javascript:void(0);" class="right-sidebar-toggle chat-item active-user" data-sidebar-id="chat-right-sidebar">
          <div class="user-avatar">
            <%= image_tag 'avatars/avatar5.png', alt: "" %>
          </div>
          <div class="chat-info">
            <span class="chat-author">Noah</span>
            <span class="chat-text">Hello there!</span>
            <span class="chat-time">&nbsp;</span>
          </div>
        </a>
        <a href="javascript:void(0);" class="load-more-messages" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Load More">•••</a>
      </div>
    </div>
  </div>
</div>